#title {
    color: rgb(110, 148, 184);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.recipe-link {
    font-size:15px;
    font-family:'Courier New', Courier, monospace
}